.error-modal {
    width: -webkit-fill-available;
    position: absolute;
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .5)
}

.error-message-area {
    padding: 2rem;
    background:#FFCCCC;
    color: black;
    border-radius: 4px;
    position:relative;
}

.error-message-area > h3 {
    color: #cc0000;
}

.error-message {
    font-weight: bold;
    font-family: sans-serif;
    margin: .2rem;
    color: #cc0000;
}

.error-clear-btn {
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
    color: #FFCCCC;
    font-weight: bold;
    font-family: sans-serif;
    background: #cc0000;
    margin: .2rem;
    font-size: 24px;
    border: none;
    border-radius: 4px;
}

.error-clear-btn:hover {
    cursor: pointer;
    background: #c95654;
    transition: all .2s;
    color: #efaeb0;
}

.error-clear-btn:focus {
    outline:none;
}