.error-modal {
    width: -webkit-fill-available;
    position: absolute;
    height: -webkit-fill-available;
}

.error-message-area {
    padding: 2rem;
    background: white;
    color: black;
    border-radius: 4px;
}