.error-modal {
    width: -webkit-fill-available;
    position: absolute;
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .5)
}

.error-message-area {
    padding: 2rem;
    background: white;
    color: black;
    border-radius: 4px;
}

.error-message {
    font-weight: bold;
    font-family: sans-serif;
    margin: .2rem;
}

.error-clear-btn {
    padding: .6rem;
    color: orange;
    font-weight: bold;
    font-family: sans-serif;
    background: orangered;
    margin: .2rem;
    font-size: 24px;
}

.error-clear-btn:hover {
    cursor: pointer;
}

.error-clear-btn:focus {
    outline:none;
}