.place-form-modal {
    position:absolute;
    top: -1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);    
    height: 100%;
    width: 100%;
    padding: 2rem;
}

.place-form {
    padding: 2rem;
    border-radius: 4px;
    background: darkorange;
    height: 10rem;
    width: 20rem;
}

.place-form-text {
    padding: .5rem;
    margin: .2rem;
    background: orange;
    border: none;
}

.place-form-text:focus {
    outline:none;
}