.location-show-image {
    width: 20rem;
    margin: 1rem;
}

.location-show-page {
    background: orange;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.location-show-page > h1 {
    color: orangered;
    font-family: 'Luckiest Guy', cursive;
    font-size: 72px;
    font-weight: 200;
    margin-bottom: 0;
}

.location-show-columns {
    width: 100%;
    display: flex;
    margin-right: 2rem;
}

.location-show-column {
    background: peachpuff;
    margin: .5rem;
    padding: .5rem;
    width: 25%;
    text-align: center;
}

//TODO: place-card-open and place-card-closed, depending on state. Gonna use a hook for this 

