.location-show-image-b {
    width: 20rem;
    margin: 1rem;
}

.location-show-page-b {
    background: skyblue;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.location-show-page-b > h1 {
    color: navy;
    font-family: 'Luckiest Guy', cursive;
    font-size: 72px;
    font-weight: 200;
    margin-bottom: 0;
}

.location-show-columns-b {
    width: 100%;
    display: flex;
    margin-right: 2rem;
}

.location-show-column-b {
    background: cyan;
    margin: .5rem;
    padding: .5rem;
    width: 25%;
    text-align: center;
}