.location-show-image {
    width: 20rem;
    margin: 1rem;
}

.location-show-page {
    background: orange;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}