.location-show-image-a {
    width: 20rem;
    margin: 1rem;
}

.location-show-page-a {
    background: green;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    top: 5rem;
}

.location-show-page-a > h1 {
    color: greenyellow;
    font-family: 'Luckiest Guy', cursive;
    font-size: 72px;
    font-weight: 200;
    margin-bottom: 0;
}

.location-show-columns-a {
    width: 100%;
    display: flex;
    margin-right: 2rem;
}

.location-show-column-a {
    background: greenyellow;
    margin: .5rem;
    padding: .5rem;
    width: 25%;
    text-align: center;
}