.location-show-image {
    width: 20rem;
    margin: 1rem;
}

.location-show-page {
    background: orange;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location-show-page > h1 {
    color: orangered;
    font-family: 'Luckiest Guy', cursive;
    font-size: 72px;
    font-weight: 200;
}

.location-show-column {
    background: peachpuff;
    margin: .5rem;
    padding: .5rem;
    width: 20rem;
    text-align: center;
}

//TODO: place-card-open and place-card-closed, depending on state. Gonna use a hook for this 
.place-card {
    border-bottom: 2px solid gray;
    padding: 1rem;
}