.places-panel {

}

.places-nav {
    display: flex;
    width: 24rem;
    justify-content: space-between;
    // padding: .5rem;
}

.places-tab-active {
    font-weight: bold;
    color: black;
    background: rgb(250, 217, 185);
    padding: .5rem;
    &:hover {
        cursor: pointer;
    }
}

.places-tab-inactive {
    font-weight: 300;
    color: black;
    background: rgba(250, 217, 185, .5);
    padding: .5rem;
    &:hover {
        cursor: pointer;
    }
}