.session-modal {
    position: absolute;
    z-index: 9000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
    width: -webkit-fill-available;
    max-height: 100vh;
    height: 100vh;
    top: 0;
}

.session-form-container {
    border-radius: 4px;
    background: orange;
    width: 20rem;
    padding: 1rem;
    height: auto;
    top: 25vh;
    //TODO: media queries different top for different height screens
}

.session-form {
    display: flex;
    flex-direction: column;
}

.session-form-field {
    padding: 1rem;
    font-size: 14px;
    color: gray;
    font-weight: bold;
    background: transparent;
    border: none;
    background: darkorange;
    margin: .4rem;
}

.session-form-buttons {
    display: flex;
    justify-content: center;
}

.session-submit-active {
    margin: .4rem;
    background: orangered;
    color: yellow;
    border: none;
    padding: .5rem;
    border-radius: 3px;
    font-weight: bold;
    &:hover {
        background: rgb(226, 88, 9);
        transition: all .2s;
        cursor: pointer;
    }
}

.session-submit-inactive {
    margin: .4rem;
    background: gray;
    color: white;
    border: none;
    padding: .5rem;
    border-radius: 3px;
    font-weight: bold;
}

.session-cancel {
    margin: .4rem;
    background: yellow;
    color: orangered;
    border: none;
    padding: .5rem;
    border-radius: 3px;
    font-weight: bold;
    &:hover {
        background: rgb(244, 202, 34);
        transition: all .2s;
        cursor: pointer;
    }
}

.session-form-label {
    color: orangered;
    font-weight: 200;
    font-size: 32px;
    text-align: center;
    width: 100%;
}

.password-shame-message {
    position: absolute;
    color: red;
    text-shadow: 2px 2px 2px black;
    top: 50%;
    font-size: x-large;
    left: 32%;
    font-weight: bolder;
}