.session-modal {
    position: absolute;
    z-index: 9000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
    width: -webkit-fill-available;
    height: 100rem;
}

.session-form-container {
    border-radius: 4px;
    background: orange;
    width: 20rem;
    padding: 1rem;
    height: auto;
    // box-sizing: border-box;
    position: relative;
    top: 20rem;
}

.session-form {
    display: flex;
    flex-direction: column;
}

.session-form-field {
    padding: 1rem;
    font-size: 14px;
    color: gray;
    font-weight: bold;
    background: transparent;
    border: none;
    background: darkorange;
    margin: .4rem;
}

.session-form-buttons {
    
}

.session-submit {

}

.session-cancel {

}