.welcome-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: -webkit-fill-available;
    background-image: url("https://images.unsplash.com/photo-1542378135-815e52392963?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80");
    background-repeat: none;
    background-size: cover;
}

.welcome-subtitle {
    color:orangered;
}
.welcome-title {
    color: orangered;
}
.welcome-carousel {
    padding: 1rem;
    width: 20rem;
    height: 15rem;
    padding: 1rem;
    text-align: center;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background: orange;
    border-radius: 4px;
    position: relative;
}

.welcome-carousel-arrow{
    font-size: 32px;
    padding: .5rem;
    position: absolute;
    &-left{
        left: 0;
    }

    &right{
        right: 0;
    }
}

.welcome-carousel-arrow:hover{
    cursor: pointer;
    font-size: 48px;
    transition: all .2s;
}